# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project exclude paths
/src/utils/index.js
/src/utils/index.js.map
/src/utils/request.js
/src/utils/request.js.map
/src/main.js
/src/main.js.map
/vite.config.js
/vite.config.js.map